*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav{
    padding: 32px 32px;
    min-height: 80px;
    background-color: #1f1f1f;
}

nav img{
    max-height: 48px;
    background-color: white;
}

.spacer{
    /*border: 1px solid yellow;*/
    display: inline-block;
    /*parent eidth - logo width -manu <ul> width*/
    width: calc(100% - 73px - 270px);
}

nav ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0px;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:link,
nav ul li a:visited{
    color: white;
}

nav ul li a.current{
   color: aquamarine;
   font-weight: bold;
}

nav ul li a:hover{
    color: orange;
}

nav ul li a:active{
    color: greenyellow
}

h1{
    width: 200px;
    margin-left: 500px;
}

section{
    background-color:#3a3a3a;
    text-align: right;
    padding: 40px;
    width: 300px;
    margin-left: auto;
    text-align: center;
    margin-top: -38px;

}

section h1 {
    width: 100px ;
}

section nav{
    background-color: #3a3a3a;
}

section nav ul li a:link,
section nav ul li a:visited {
    color: rgb(76, 76, 229);
    
}

section nav ul li{
    text-align: center;
    display:list-item;
    margin-top: 10px;
    background-color: #3a3a3a;
    vertical-align: auto;
}

.rebel {
    visibility: hidden;
}

footer section{
    background-color: #3a3a3a;
    vertical-align: baseline;
}